{% extends 'youtube/base.html' %}
{% block title %}
    Search video
{% endblock %}
{% block content %}
<header>
    <nav class='navbar navbar-dark bg-primary'> 
        <div class='container-fluid'>
            <ul class='navbar-nav'>
                <li class='nav-item'>
                    {% if token %}
                        <a class='nav-link active' href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class='nav-link active' href='{{ login_url }}'>Login</a>
                        {% endif %}
                </li>
            </ul>
        </div>  
    </nav>
</header>
{% if token %}
<h1>Search video</h1>
<form class='row' action="{% url 'search_video' %}" method="POST">
    {% csrf_token %}
    <div class='col-4'>
        <input class="form-control" type="text" placeholder="Enter video name" name='video_name'>
    </div>
    <div class='col-4'> 
        <button class='btn btn-primary'>Search video</button>
    </div>
</form>
{% endif %}
{% endblock %}